<div class="hero">
  <div class="hero_content">
    <h1 class="hero_title">{{hero.title}}</h1>
    <p class="hero_description">{{hero.description}}</p>
    <a href="{{hero.button.url}}" class="hero_button">{{hero.button.text}}</a>
  </div>
</div>

<div class="about_card">
  <h2 class="card_heading">{{about.heading}}</h2>
  <p class="card_info">{{about.info}}</p>
</div>

{{> articleCardDark}}

